{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                {% image '@AppBundle/Resources/public/images/logo.png' %}
                <center><img src="{{ asset_url }}" width="75%" alt="Héichwaaser Logo"></center>
                {% endimage %}
                <br><br>
                <div class="links" style="text-align: center">
                    <a href="https://itunes.apple.com/lu/app/heichwaasser/id616867924"
                       target="_blank">
                        {% image '@AppBundle/Resources/public/images/appstore.png' %}
                        <img src="{{ asset_url }}" height="60" alt="appstore logo">
                        {% endimage %}
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=lu.heichwaasser.app" target="_blank">
                        {% image '@AppBundle/Resources/public/images/playstore.png' %}
                        <img src="{{ asset_url }}" height="60" alt="playstore logo">
                        {% endimage %}
                    </a>
                </div>
                <br>
                <h1>API Documentation</h1>
                <p>Published on <a href="https://data.public.lu/en/reuses/heichwaasser-api/">data.public.lu</a></p>
                <h1>Source code</h1>
                {% image '@AppBundle/Resources/public/images/GitHub.png' %}
                <center><a href="https://github.com/benoitfrisch/HeichwaasserApi" target="_blank"><img
                                src="{{ asset_url }}" width="150" alt="Github Logo"></a></center>
                {% endimage %}
                <br><br>
                <center><a href="https://data.public.lu/en/datasets/measured-water-levels/" target="_blank">Data
                        source</a></center>

            </div>
        </div>

    </div>
    <br><br>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #91c4e4;
            background-attachment: fixed;
        {% image '@AppBundle/Resources/public/images/background.png' %} background-image: url({{ asset_url }});
        {% endimage %} font: 18px/1.5 sans-serif;
        }

        #wrapper {
            background: rgba(255, 255, 255, 0.85);
            margin: 1em auto;
            max-width: 800px;
            border-radius: 25px;
            width: 95%;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    </style>
{% endblock %}
